<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Count</th>
      <th scope="col">Category Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= @product_count %></th>
      <th><%= @category_count %></th>
    </tr>
    </tr>
  </tbody>
</table>